@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

.client-container {
    background: white;
    font-family: inter, san-serif;
    height: 100vh;
    padding-top: 50px;
    text-align: center;
    scroll-behavior: smooth;
}


.client-container p {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.3;
    color: rgb(77 77 77 / var(--tw-text-opacity, 1));
}

.client-container span {
    color: grey;
    font-size: 0.75rem;
}


.icons {
    margin-top: 50px;
    overflow: hidden;
    margin-bottom: 20px;
}

.client-logo {
    height: 60px;
    margin: 0 40px;
    object-fit: contain;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    gap: 70px;
}