@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

.page5-container {
    font-family: inter, san-serif;
    height: 80vh;
    padding-top: 80px;
    text-align: center;
    scroll-behavior: smooth;
}

.blog-content {
    text-align: center;
    color: rgb(113 113 113 / var(--tw-text-opacity, 1));
    font-size: 0.75rem;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}